<div id="<%= dom_id contact_list %>">
  <p>
    <strong>Name:</strong>
    <%= contact_list.name %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= contact_list.phone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= contact_list.email %>
  </p>

</div>
